*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #0057B8;
    margin: 0;
    padding: 0;
}

.page {
    max-width: 710px;
    margin: 1rem auto;
    border: 2px solid black;
    padding: 1rem;
    background-color: rgb(212, 0, 0);
}

.banner {
    margin-top: 1rem;
    height: 70px;
}

.navigation {
    margin-top: 1rem;
    height: 45px;
    background-color: white;
    border: 1px solid black;
    padding: 0.5rem;
}

.sidebar {
    width: 150px;
    height: 370px;
    background-color: white;
    margin-bottom: 0.7rem;
    float: left;
}

.copyright {
    font-size: 0.9rem;
    text-align: left;
}

.main {
    margin-left: 150px;
    padding: 0.5rem;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    p.groove {border-style: groove;}
}

caption {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #0057B8;
}

td, th {
    border: 1px solid black;
    padding: 0.2rem 0.7rem;
    font-size: 0.9rem;
}

.align-right {
    text-align: right;
}
